    /* global css */
    
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    * {
        font-family: 'Quicksand', sans-serif;
    }
    
    @font-face {
        font-family: "poppinsReguler", sans-serif;
        src: url("../font/Poppins-Regular.otf") format("opentype");
    }
    
    @font-face {
        font-family: 'poppinsBold', sans-serif;
        src: url("../font/Poppins-Bold.otf") format("opentype");
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
    }
    
     :root {
        --primary: #E48F45;
        --hover: #29244d;
        --hover2: #ff2b95;
        --white: #fff;
    }
    
    img {
        filter: drop-shadow( 0 0 9px rgba(0, 0, 0, .6));
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-filter: drop-shadow( 0 0 9px rgba(0, 0, 0, .6));
    }
    /* akhir global css */
    /* index html */
    /* header */
    
    header {
        position: fixed;
        left: 0;
        right: 0;
        height: 70px;
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
        box-sizing: border-box;
        z-index: 9999999;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        column-gap: 20px;
        padding: 5px;
    }
    
    header nav ul li {
        padding: 4px;
    }
    
    header nav ul li a {
        display: inline-block;
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        color: var(--primary);
    }
    
    header nav ul li:hover a {
        box-sizing: border-box;
        border-bottom: 3px solid black;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    
    header .contact {
        display: flex;
        column-gap: 1.2em;
    }
    
    header .contact li {
        list-style: none;
    }
    
    header .contact li a {
        color: black;
    }
    
    header .contact li a:hover {
        color: var(--primary);
    }
    
    header .toggleMenu {
        display: none;
        height: 20px;
        width: 30px;
    }
    
    header .toggleMenu span {
        display: block;
        height: 4px;
        width: 100%;
        margin: 4px 0;
        background-color: rgb(6, 5, 5);
        border-radius: 110px;
        -webkit-border-radius: 110px;
        -moz-border-radius: 110px;
        -ms-border-radius: 110px;
        -o-border-radius: 110px;
    }
    /* akhir header */
    /* main landing pagel */
    
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    main section.sectionSatu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 10%;
        align-items: center;
    }
    
    main section.sectionSatu .home {
        width: 40%;
    }
    
    main section.sectionSatu .home h2 {
        font-size: 4em;
    }
    
    main section.sectionSatu .home h2 span.font-warna {
        color: var(--primary);
    }
    
    main section.sectionSatu .home p {
        font: 20px/30px normal normal arial, sans-serif;
    }
    
    main section.sectionSatu .home a {
        display: inline-block;
        margin-top: 4%;
        text-decoration: none;
        padding: .5em 1.2em;
        background-color: var(--primary);
        color: var(--white);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 5px double var(--primary);
    }
    
    main section.sectionSatu .home a:hover {
        color: var(--hover);
        background-color: var(--primary);
        transition: all .5 ease-in;
        -webkit-transition: all .5 ease-in;
        -moz-transition: all .5 ease-in;
        -ms-transition: all .5 ease-in;
        -o-transition: all .5 ease-in;
        border: 5px double var(--hover2);
    }
    
    main section.sectionDua {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: .5%;
        align-items: center;
    }
    
    main section.sectionDua .about {
        width: 30%;
    }
    
    main section.sectionDua .about h3 {
        font: 2em/12px normal normal arial, sans-serif;
        text-align: center;
        color: var(--primary);
    }
    
    main section.sectionDua .about p {
        font: 20px/30px normal normal arial, sans-serif;
    }
    
    main section.sectionDua .about span.font-warna {
        color: var(--primary);
    }
    /* main landing pagel */
    /* main kontak  */
    
    main#kontakKu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 91vh;
    }
    
    main#kontakKu .pengantar {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    
    main#kontakKu .pengantar h2 {
        text-align: center;
    }
    
    main#kontakKu form {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    
    main#kontakKu form input {
        width: 100%;
        height: 35px;
        margin: 10px;
        padding: 10px;
        border: none;
        border-bottom: 3px solid black;
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    main#kontakKu form input:hover {
        border: none;
        border-bottom: 3px solid var(--primary);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        background-color: var(--white);
    }
    
    main#kontakKu form button {
        width: 100px;
        padding: 7px;
        margin: 29px;
        border: 1px solid var(--primary);
        background-color: var(--white);
        color: var(--primary);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    
    main#kontakKu form button:hover {
        background-color: var(--primary);
        color: var(--white);
    }
    /* akhir main kontak  */
    /* akhir main */
    /* footer */
    
    footer {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
    }
    /* akhir footer */
    /* kombinasi warna di javascript */
    /* .span1 {
        transform: 'rotate(45deg)';
        margin-top: '11px';
        transition: 'all .1s ease-in 0s';
        -webkit-transform: 'rotate(45deg)';
        -moz-transform: 'rotate(45deg)';
        -ms-transform: 'rotate(45deg)';
        -o-transform: 'rotate(45deg)';
    }
    
    .span2 {
        background-color: 'rgba(0,0,0,0)';
    }
    
    .span3 {
        transform: 'rotate(-45deg)';
        margin-top: '-16px';
    }
    
    .headerNav {
        display: 'block';
    }
    
    .headerContact {
        display: 'flex';
    } */
    /* aniamasi saat web direstart */
    
    @keyframes reloadKiri {
        0% {
            opacity: 0;
            transform: translateX(-90px);
            -webkit-transform: translateX(-90px);
            -moz-transform: translateX(-90px);
            -ms-transform: translateX(-90px);
            -o-transform: translateX(-90px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }
    
    @keyframes reloadKanan {
        0% {
            opacity: 0;
            transform: translateX(90px);
            -webkit-transform: translateX(90px);
            -moz-transform: translateX(90px);
            -ms-transform: translateX(90px);
            -o-transform: translateX(90px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }
    
    .loadingAnimasiKiri {
        animation: reloadKiri .7s ease-out forwards;
        -webkit-animation: reloadKiri .7s ease-out forwards;
        opacity: 1;
    }
    
    .loadingAnimasiKanan {
        animation: reloadKanan .7s ease-out forwards;
        -webkit-animation: reloadKanan .7s ease-out forwards;
        opacity: 1;
    }
    /* .kontakFocus {
        border: none;
        border-top: 3px solid var(--hover2);
        border-bottom: 3px solid var(--hover2);
    } */
    /* akhir dari class feat js */
    
    @media only screen and (max-width: 965px) {
        main {
            margin-top: 0px;
        }
        main section.sectionSatu {
            flex-direction: column;
        }
        main section.sectionSatu .home {
            width: 80%;
        }
        main section.sectionSatu .home h2 {}
        main section.sectionSatu .home a {
            display: flex;
            justify-content: center;
        }
        main section.sectionSatu img {
            margin: 100px 0 0 0;
            width: 600px;
        }
        main section.sectionDua {
            height: 400px;
            flex-direction: column;
        }
        main section.sectionDua img {
            order: 2;
            display: none;
        }
        main section.sectionDua .about {
            width: 80%;
            order: 1;
        }
        /* kontak */
        main#kontakKu {
            width: 100%;
        }
        main#kontakKu .pengantar,
        form {
            width: 50% !important;
        }
        /* akhir kontak */
    }
    
    @media only screen and (max-width: 725px) {
        header {
            width: 100vw;
        }
        header .toggleMenu {
            display: block;
            z-index: 99999;
        }
        header .logo h1 {
            font-size: 1.7em;
        }
        header nav {
            display: none;
            position: absolute;
            top: 70px;
            right: 0;
            background-color: rgba(228, 143, 69, 1);
            height: 115vh;
            width: 70%;
        }
        header nav ul {
            flex-direction: column;
            position: absolute;
            gap: 25px;
        }
        header nav ul li a {
            color: var(--hover);
        }
        header .contact {
            display: none;
            flex-direction: row;
            position: absolute;
            gap: 50px;
            top: 270px;
            right: 30%;
            width: 100px;
            /* background-color: red; */
        }
        header .contact li a {
            color: var(--hover);
        }
        main section {
            width: 100vw !important;
        }
        main section.sectionSatu {
            width: 100%;
            flex-direction: column;
        }
        main section.sectionSatu .home {
            width: 90%;
            margin-top: 30px;
        }
        main section.sectionSatu .home h2 {
            font-size: 2.5em;
        }
        main section.sectionSatu .home a {
            display: flex;
            justify-content: center;
        }
        main section.sectionSatu img {
            margin: 50px 0 0 0;
            width: 80%;
        }
        main section.sectionDua {
            flex-direction: column;
            /* width: 100px; */
            /* background-color: red; */
        }
        main section.sectionDua img {
            order: 2;
            display: none;
        }
        main section.sectionDua .about {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            order: 1;
        }
        main section.sectionDua .about p {
            padding: 0px;
            margin: 0;
            padding: 20px;
        }
        /* kontak page */
        main#kontakKu .pengantar,
        form {
            width: 70% !important;
        }
        /* akhir kontak page */
    }
    /* akhir responsive */